<!-- views/pages/index.ejs -->
<!doctype html>
<html>
<head>
<title><%=title %></title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/stylecss.css">
<!-- iconj.com favicon code -->
<link rel="shortcut icon" href="http://www.iconj.com/icon.php?pid=vnu5kajf8j" type="image/x-icon" />
<link rel="shortcut icon" href="http://www.iconj.com/gif_icon.php?pid=vnu5kajf8j" type="image/gif" /> 
<!-- end of iconj.com favicon code -->
<script src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/javascripts/jsfile.js"></script>
</head>
<body>
<div class="container">
 <!--- Default nav --->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%=title %></a>
    </div>
  <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/all"> All </a></li>
      <li><a href="/login" class="btn btn-sm"><button type="button" class="btn btn-default btn-sm"> Login Twitter <img src="https://cdn.hyperdev.com/us-east-1%3A60e6615e-7d9e-47ac-903b-3b4b47372e42%2Ftwitter_32px.png"> </button> </a></li>
</ul>
</nav>
    <div class="jumbotron text-center">
       <h1><span class=""></span> <%=title %></h1>
</div>
 <div id='masonry' >
<% 

var objects = {};

for (var x = 0; x < res.length; x++) {
  objects[x] = {_id:res[x].imageurl , count:0};
}

for (var i = 0; i < res.length; i++) {
                     for(var j=0; j< likes.length; j++){
                         
                      if (res[i].imageurl === likes[j]._id) {
                        console.log('match - set count!');
                        res[i].count = likes[j].count;
                      } else{console.log('No match found!');}
                      
                     }
                     
                    } 

for(var i=0; i< res.length; i++) {%>
 <div class="item"> <img width="180" src="<%= res[i].imageurl %>" alt="<%= res[i].sn %>" title="<%= res[i].desc %>" />
<p><%= res[i].desc %></p>
<span class="boxcentre">
 <div class="likes">
<form action="/userPics" method="post">
    <input type="hidden" name="sn" value="<%= res[i].sn %>">
    <input type="hidden" name="id" value="<%= res[i].id %>">
    <input type="hidden" name="uimage" value="<%= res[i].userimage %>">    
<button type="submit" class="btn "> <img class="info" height="35" src="<%= res[i].userimage %>" title="@<%= res[i].sn %>" />  </button>
</form> 
<!-- Likes -->
<form action="/likes" method="post">
    <input type="hidden" name="sn" value="<%= res[i].sn %>">
    <input type="hidden" name="id" value="<%= res[i].id %>">
    <input type="hidden" name="uimage" value="<%= res[i].userimage %>">   
    <input type="hidden" name="urlimage" value="<%= res[i].imageurl %>">      
<% 
if(res[i].count > 0){%>
   <button type="button" class="btn disabled"> <span class="check glyphicon glyphicon-star "></span> likes <%= res[i].count %> </button>

<%
}
else{
 %>
 <button type="button" class="btn disabled"> <span class="check glyphicon glyphicon-star"></span> likes 0 </button>
 <%
}
%>

</form> 
<!-- -->
 </div>
    </span>
   </div>

<% 
}
%>
 </div>
<%if (error =="") { %>
<% }else{ %>
<h2><b style="color: red;"><%=error %></b></h2>
<% } %>      
</div>
</body>
</html>